* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared styles */

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
}
.text-center{
    text-align: center;
}
.btn{
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 20px 25px;
    cursor: pointer;
    color: white;
    background-color: #F15B22;
}

/*Header styles*/

header{
    /* border: 2px solid red; */       /* I had written just border and no padding here, but when removing the border something called "margin collapse" occurred */
    /*padding-top: 1px;*/        /* Why doesn't everyone use padding-top:1px then? Because it's not the real solution. People usually solve it by changing the layout instead. Like:-- display:flex; or overflow:hidden;  .   The padding-top: 1px trick is mostly used as a debugging technique to prove that margin collapsing is happening. */
    overflow: hidden;        /* This is the real solution to margin collapsing. */
    height: 100vh;
    background-image: url("../images/banner/banner2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#banner{
    width: 525px;
    max-width: 100%;
    margin: 216px 230px 167px auto;
}
#banner .banner-content{
    max-width: 525px;
    text-align: right;
}
#banner h1{
    font-size: 65px;
    font-weight: bold;
    color: black;
    padding-bottom: 24px;
}
#banner p{
    width: 494px;
    max-width: 100%;
    margin-left: auto;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    padding-bottom: 32px;
}

/* Main styles */
/* my-failures section */
#my-failures {
    /* border: 2px solid red; */
    display: flex;
    gap: 87px;
    justify-content:center;
    align-items: center;
    margin: 130px 322px 135px 206px;
}
.failures{
    /* border: 2px solid red; */
    width: 416px;
    max-width: 100%;
}
#my-failures .failures h2{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 24px;
}
#my-failures .failures p{
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    padding-bottom: 16px;
}
#my-failures .failures ul{
    /* padding: 20px 25px; */   /* this was my plan but then i thought to look up online and see if there is anything similar and found what I did below.   You can check out "https://diythemes.com/list-bullets-icons-emoji/" for what I did. */
    list-style-type: none;
	margin-left: 0;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}
#my-failures .failures ul li{
    padding-left: 23px;
    padding-bottom: 10px;
}
#my-failures .failures ul li:before{
    content: '\2714';
	color: #16D887;
	width: 23px;
	margin-left: -24px;
    padding-right: 10px;
}

/* my-plans section */
#my-plans{
    /* border: 2px solid red; */
    margin-bottom: 125px;
    text-align: center;
}
#my-plans h2{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 50px;
}
#my-plans .plans{
    display: flex;
    gap: 86px;
    justify-content: center;
}
#my-plans .plans img{
    width: 93px;
    max-width: 100%;
    padding-bottom: 24px;
}
#my-plans .plans h3{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 16px;
}
#my-plans .plans p{
    font-size: 25px;
    font-weight: 400;
    line-height: 26px;
    color: #444343;
}